//漂浮
.f_r {
  float: right !important;
}

.f_l {
  float: left !important;
}

.p_f {
  position: fixed;
}

.p_r {
  position: relative;
}

.p_a {
  position: absolute;
}

//去除默认样式
ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.d_l {
  display: inline-block;
}

.d_b {
  display: block;
}

%v_center_basic {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-align: center;
  -webkit-align-content: center;
}
