.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.menuStatus {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  border-bottom: 1px solid #e3e3e3;
}

.el-menu {
  border: none;
}

.login_ground {
  li {
    float: left;
    span {
      padding: 0 10px;
    }
    .b_r {
      border-right: 1px solid #e3e3e3;
    }
  }
}
